html,
body,
.intro {
    height: 100%;
}



.mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(14, 23, 189, 0.95);
    border-radius: 3em;
    border: 2px solid rgba(173, 3, 3, 0.95);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(213, 196, 19, 0.95);
}

.swapCard:hover {
    cursor: pointer;
}

.intro {
    height: 100vh;
    width: 100vw;
    display: block;
}

/*#signup-form, #login-form {*/
/*    display: none;*/
/*}*/