body {
    background-color: #0e0345;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.28);
}

::-webkit-scrollbar-thumb {
    background: rgba(94, 65, 64, 0.62);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(246, 24, 33, 0.52);
}

.hire-btn{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid #ffffff;
    border-radius: 25px;
    margin-left: 150px;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    transition: 1s;
    position: absolute;
    bottom: -10px;
    left: 30%;
}
.hire-btn:hover{
    border: 3px solid #9a1e15;
    background: #9a1e15;
    color: #fff;
    transition: 1s;
}

.ttl {
    position: absolute;
    bottom: 50px;
    left: 30%;
    color: white;
}

